body {
  margin: 0;
  color: $color-dark-grey;
  font: 400 16px/24px "Libre Franklin", sans-serif;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
}

h3 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
}

h4 {
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
}

.button {
  @include button;
}
