.evolve-brands {
  text-align: center;

  .homepage-main-image {
    background: url("../../images/CP/evolve_media_our_brands_header_image.jpg")
      no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;

    @include desktop {
      background-position-y: -335px;
    }
  }

  .brands-container {
    .brand {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: calc(100% - 50px);
      margin: 0 auto 40px;

      @include tablet {
        flex-wrap: nowrap;
        margin-bottom: 100px;
      }

      .brand-logo {
        display: inline-block;
        width: 300px;

        @include tablet {
          width: 30%;
          max-width: 400px;
          text-align: right;
          padding-right: 60px;
          border-right: 1px solid $color-dark-grey;
        }

        img {
          height: 50px;
          max-width: 80%;
          margin-bottom: 30px;

          @include tablet {
            height: 90px;
            max-width: 90%;
            margin-bottom: 0;
          }
        }
      }

      .brand-description {
        max-width: 930px;
        text-align: left;

        @include tablet {
          font-size: 24px;
          line-height: 40px;
          width: 50%;
          padding-left: 60px;
        }
      }

      &:not(:nth-last-of-type(2)) {
        &:after {
          display: block;
          content: "";
          width: 60%;
          height: 1px;
          margin: 60px auto 0;
          background: $color-dark-grey;

          @include tablet {
            display: none;
          }
        }
      }
    }
  }
}

.privacy-policy,
.terms-of-service {
  padding: 0 5% 0;

  @include tablet {
    padding: 0 5% 0;
  }

  .cta-btn {
    text-align: center;
    width: 100%;
  }
}
