$color-header-main    : #1a72b9;
$color-header-submain : #1569ab;

header {
	background: $color-header-main;
	background: linear-gradient(180deg, $color-header-main 0%, $color-header-submain 35%);
	min-height: 80px;
}