$color-header-main: #1a72b9;
$color-header-submain: #1569ab;

header {
  background: linear-gradient(135deg, $color-submain 0%, #00538f 50%);
  height: 60px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;

  @include tablet {
    height: 80px;
  }
}

.header-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: url("../../images/header-bars-left.svg"),
    url("../../images/header-bars-right.svg");
  background-position: left center, right center;
  background-repeat: no-repeat;
  background-size: auto 80px;

  .burger {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    height: calc(100% - 30px);

    @include tablet {
      padding: 25px;
      height: calc(100% - 50px);
    }

    &:before,
    &:after {
      position: relative;
      display: block;
      content: "";
    }

    &:before,
    &:after,
    .lines {
      top: 0;
      opacity: 1;
      width: 100%;
      height: 3px;
      margin: 3px 0;
      transform: none;
      background: $color-white;
      transition: all 0.3s ease;
    }

    &.active {
      &:before {
        top: 10px;
        transform: rotate(45deg);
      }

      &:after {
        top: -10px;
        transform: rotate(-45deg);
      }

      .lines {
        opacity: 0;
      }
    }
  }
}

.header-logo {
  left: 30px;
  height: 50%;
  margin: 15px auto;
  position: relative;

  @include tablet {
    left: 40px;
    height: 60%;
  }
}
