$color-header-main: #1a72b9;
$color-header-submain: #1569ab;

header {
  background: $color-header-main;
  background: linear-gradient(135deg, $color-submain 0%, $color-main 50%);
  min-height: 80px;
}
