// ==========================================================================
// Compass configuration
// ==========================================================================

// Support for: IE8+, Latest: Firefox, Chrome and Safari

$legacy-support-for-ie                : false;
$legacy-support-for-ie6               : false;
$legacy-support-for-ie7               : false;
$legacy-support-for-ie8               : true;

$legacy-support-for-mozilla           : false;
$experimental-support-for-mozilla     : false;

$support-for-original-webkit-gradients: false;
$experimental-support-for-opera       : false;


// ==========================================================================
// Madia queries configuration
// ==========================================================================

$tablet-width: 750px;
$desktop-width: 1280px;