//
// Useful variables
//
$height-header: 50px;
$wrapper-desktop: 1080px;
$right-rail: 300px;
$padding: 10px;
$margin: 5px;

$color-white     : #fff;
$color-black     : #000;
$color-main      : #0c619a;
$color-submain   : #3189bf;
$color-grey      : #f8f8f8;
$color-dark-grey : #707070;