//
// Useful variables
//
$height-header: 50px;
$wrapper-desktop: 1080px;
$right-rail: 300px;
$padding: 10px;
$margin: 5px;

$color-white: #fff;
$color-black: #000;
$color-main: #1972ba;
$color-submain: #56b3e5;
$color-grey: #f8f8f8;
$color-dark-grey: #707070;
$color-highlight: #bc549b;
